* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* --------------------------------- Header -------------------------------- */
/* Header */

.header__top {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 64px 120px;
    background-image: url(../images/bg/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* ---------------------------------- Menu --------------------------------- */
/* Menu */
.menu {
    min-height: 100vh;
    padding: 64px 120px;
    background: #E8EFF9;
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.menu-list {
    padding: 0;
    list-style: none;
}

.menu-item {
    margin-bottom: 32px;
}

.menu-link {
    color: #292929;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.menu-link:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* --------------------------------- Icons --------------------------------- */
/* Icons */
.close {
    cursor: pointer;
}
