* {
    font-family: Inter, sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    min-height: 800px;
}

/* --------------------------------- Header -------------------------------- */
/* #region header */
.header__top {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 64px 120px;
    background-image: url(../images/bg/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #endregion */

/* ---------------------------------- Menu --------------------------------- */
/* #region menu */
.menu {
    min-height: 100vh;
    padding: 64px 120px;
    background: #E8EFF9;
}

.menu__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 64px;
}

.menu__close {
    cursor: pointer;
}

/* #endregion menu */

/* ------------------------------- Navigation ------------------------------ */
/* #region nav */
.nav__list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav__item {
    margin-bottom: 16px;
}

.nav__link {
    display: block;
    padding: 16px 0;
    color: #292929;
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav__link:hover {
    cursor: pointer;
    color: slateblue;
    text-decoration: underline;
}

/* #endregion nav */
