* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    color: #292929;
    font-size: 16px;
    line-height: 140%;
}

.container {
    max-width: 1020px;
    width: 100%;
    min-height: auto;
    margin: 0 auto;
}

/* #region header */

.header {
    min-height: 100vh;
    background-image: url(../images/bg/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 64px 0;
        min-height: 100vh;
    }

    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin-top: 40px;
        margin-bottom: 0;
        font-size: 48px;
        font-style: italic;
        font-weight: 800;
        line-height: 100%;
        letter-spacing: -1.5px;
    }
}

/* #endregion header */

/* #region menu */

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translateX(-100vw);
    transition: transform 500ms;
    min-height: 100vh;
    padding: 64px 0;
    background: #E8EFF9;

    &:target {
        transform: translateX(0);
    }

    &__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 64px;
    }

    &__close {
        cursor: pointer;
    }
}

/* #endregion */

/* #region nav */

.nav {

    &__list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &__item {
        margin-bottom: 16px;
    }

    &__link {
        display: block;
        padding: 16px 0;
        font-size: 22px;
        font-weight: 700;
        line-height: 22px;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            color: slateblue;
            text-decoration: underline;
        }
    }
}

/* #endregion nav */

/* #region main */

.main {
    padding: 0;
}

/* #endregion main */

/* #region recommended */

.recommended {
    min-height: 100vh;
    padding: 120px 0;

    &__title {
        margin-top: 0;
        margin-bottom: 64px;
        text-align: center;
        font-size: 48px;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -1.5px;
    }

    &__products {
        display: flex;
        justify-content: center;
        gap: 24px;
    }
}

.product {

    &__photo {
        max-width: 100%;
        margin-bottom: 32px;
    }

    &__title {
        margin-top: 0;
        margin-bottom: 8px;
    }

    &__category {
        margin-top: 0;
        margin-bottom: 12px;
    }

    &__price {
        margin: 0;
        font-weight: bold;
    }
}

/* #endregion recommended */

/* #region categories */

.categories {

    &__title {
        margin-top: 0;
        margin-bottom: 64px;
        text-align: center;
        font-size: 48px;
        font-weight: 700;
        line-height: 100%;
        letter-spacing: -1.5px;
    }
}

/* #endregion categories */

/* #region how-to-buy */

.how-to-buy {

    &__title {
        margin-top: 0;
        font-size: 48px;
        font-weight: bold;
        line-height: 100%;
        letter-spacing: -1.5px;
    }
}

/* #endregion how-to-buy */
